<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
    <small>Copyright &copy; <a><%= link_to "Joshua Retallick", "https://github.com/joshuaretallick/cv", class: "text-white" %></a></small>
    </div>
</footer>